#splash {
  padding-top: 0px;
  position: relative;
  padding-bottom: 150px;
  .header,
  .container {
    position: relative;
    z-index: 99;
  }
  .bg {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-image: url("../img/abstracttriangles2.jpg");
  }
}

.title {
  img {
    margin: 0 auto;
    width: 630px;
    max-width: 100%;
    height: auto; 
  }
}
